In [61]:
import pandas as pd
from pandas import DataFrame as df

In [71]:
toys = pd.read_csv("toy_data.csv")

In [64]:
toys.tail()

       production time  cost in rubles
19995            18085           38489
19996            96506          195441
19997            96190          194792
19998            37602           77101
19999            76461          154954

In [65]:
toys['production time'].min(), toys['production time'].max()

(1, 99215)

In [66]:
toys['cost in rubles'].min(), toys['cost in rubles'].max()

(1, 199144)

In [67]:
toys[toys['production time']*toys['cost in rubles'] == 2]

Empty DataFrame
Columns: [production time, cost in rubles]
Index: []

#### Находим самую минимальную по цене и времени игрушку

In [43]:
min_seb = 10**8
i_n = 0 
for i in range(len(toys['production time'])):
    if (toys['production time'][i]*toys['cost in rubles'][i] < min_seb):
        min_seb = toys['production time'][i]*toys['cost in rubles'][i]
        i_n = i
#         print(i, min_seb)
print(f"Минимальная стоимость: {toys['cost in rubles'][i_n]}, минимальное время: {toys['production time'][i_n]}")

Минимальная стоимость: 1, минимальное время: 1

In [ ]:
#### Находим самое наибольшее соотношение стоимости ко времени производства

In [48]:
max_gain = 0
counter = 0 
for i in range(len(toys['production time'])):
    if (toys['cost in rubles'][i]/toys['production time'][i] > max_gain):
        max_gain = toys['cost in rubles'][i]/toys['production time'][i]
        counter = i
#         print(i, min_seb)
print(f"Cтоимость: {toys['cost in rubles'][counter]}, время: {toys['production time'][counter]}, соотношение: {toys['cost in rubles'][counter]/toys['production time'][counter]}, Индекс: {counter}")

Cтоимость: 6036, время: 2584, соотношение: 2.3359133126934983, Индекс: 13712

#### Считаем рабочее время в последнем квартале в секундах

In [90]:
kvartal_work_time = (23 + 20 + 22) * 8 * 60 * 60
kvartal_work_time

1872000

In [91]:
amount_toy_13712 = kvartal_work_time // toys['production time'][counter]
amount_toy_13712

724

In [72]:
toys.insert(loc=len(toys.columns), column='Стоимость / время', value=toys['cost in rubles']/toys['production time'] )
toys.head()

   production time  cost in rubles  Стоимость / время
0            37348           76806           2.056496
1            95509          193309           2.023987
2            95925          194174           2.024227
3            69288          139732           2.016684
4            57295          117034           2.042656

In [82]:
toy = toys.sort_values(by = ['Стоимость / время'], ascending = [False])

In [86]:
toy[toy['production time'] == 1]

       production time  cost in rubles  Стоимость / время
17733                1               1                1.0

In [94]:
# Рассчитаем сколько войдет самых эффективных игрушек по времени квартала

In [97]:
# kvartal_work_time - всего рабочего времени в квартале
all_gain = 0 # Максимальный доход
volum_time = kvartal_work_time # Остаток рабочего времени
id_toys = []

for i in range(len(toys['production time'])):
    if volum_time >= toy['production time'][i]:
        amount_toy = volum_time // toy['production time'][i]
        cost_toys = amount_toy * toy['cost in rubles'][i]
        all_gain += cost_toys
        volum_time -= toy['production time'][i] * amount_toy
        id_toys.append(i)
print(f"Максимальный доход: {all_gain}, Остаток рабочего времени: {volum_time}, id_toys: {id_toys}")

Максимальный доход: 3850188, Остаток рабочего времени: 0, id_toys: [0, 42, 74, 429, 2626, 4489, 17733]